{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

	<div class="jumbotron">
		<h1 class="text-center">Politique de confidentialité</h1>

		<h2 class="text-center">Introduction</h2>
		
		<p>
			La vie privée des visiteurs de notre site Web est très importante pour nous, et nous nous engageons à la protéger. Cette politique explique ce que nous ferons de vos renseignements personnels.
			Le fait de consentir à notre utilisation de cookies conformément aux termes de la présente politique lors de votre première visite sur notre site Web nous permet d'utiliser des cookies chaque fois que vous visitez notre site Web.
		</p>
		
		<h2 class="text-center">Crédit</h2>

		<p>
			Ce document a été créé en utilisant un modèle de SEQ Legal (seqlegal.com) et modifié par Website Planet (www.websiteplanet.com)
		</p>

		<h2 class="text-center">Collecte de renseignements personnels</h2>

		<p>
			Les types suivants de renseignements personnels peuvent être recueillis, stockés et utilisés :<br />
			<br />
			des informations sur votre ordinateur, y compris votre adresse IP, votre emplacement géographique, le type et la version de votre navigateur et votre système d'exploitation ;
			des informations sur vos visites et votre utilisation de ce site Web, y compris la source de référence, la durée de la visite, les pages vues et les chemins de navigation du site Web ;
			les informations, telles que votre adresse électronique, que vous saisissez lorsque vous vous inscrivez sur notre site Web ;
			les informations, telles que votre nom et votre adresse e-mail, que vous saisissez afin de vous abonner à nos e-mails et/ou newsletters ;
			les informations que vous saisissez lors de l'utilisation des services de notre site Web ;
			les informations générées lors de l'utilisation de notre site Web, y compris quand, à quelle fréquence et dans quelles circonstances vous les utilisez ;
			les renseignements relatifs à tout ce que vous achetez, aux services que vous utilisez ou aux transactions que vous effectuez sur notre site Web, y compris votre nom, votre adresse, votre numéro de téléphone, votre adresse électronique et les détails de votre carte de crédit ;
			les informations que vous publiez sur notre site Web avec l'intention de les publier sur Internet, y compris votre nom d'utilisateur, les photos de votre profil et le contenu de vos messages ;
			les informations contenues dans toute communication que vous nous envoyez par courrier électronique ou par l'intermédiaire de notre site Web, y compris son contenu et ses métadonnées de communication ;
			toute autre information personnelle que vous nous envoyez.
			Avant de nous communiquer les renseignements personnels d'une autre personne, vous devez obtenir le consentement de cette personne à la fois à la divulgation et au traitement de ces renseignements personnels conformément à la présente politique.
		</p>

		<h2 class="text-center">Utilisation de vos renseignements personnels</h2>

		<p>
			Les renseignements personnels qui nous sont soumis par l'intermédiaire de notre site Web seront utilisés aux fins précisées dans la présente politique ou dans les pages pertinentes du site Web. Nous pouvons utiliser vos renseignements personnels aux fins suivantes :<br/>
			<br/>
			l'administration de notre site Web et de notre entreprise ;<br/>
			personnaliser notre site Web pour vous ;<br/>
			vous permettre d'utiliser les services disponibles sur notre site Web ;<br/>
			la fourniture de services achetés par l'intermédiaire de notre site Web ;<br/>
			vous envoyer des relevés, des factures et des rappels de paiement, et percevoir les paiements auprès de vous ;<br/>
			vous envoyer des communications commerciales non commerciales ;<br/>
			vous envoyer des notifications par e-mail que vous avez spécifiquement demandé ;<br/>
			vous envoyer notre bulletin d'information par courriel, si vous en avez fait la demande (vous pouvez nous informer en tout temps si vous n'avez plus besoin de ce bulletin) ;<br/>
			vous envoyer des communications marketing relatives à nos activités ou à celles de tiers soigneusement sélectionnés qui pourraient vous intéresser, par courrier postal ou, si vous y avez expressément consenti, par courrier électronique ou par une technologie similaire (vous pouvez nous informer à tout moment si vous n'avez plus besoin de communications marketing) ;<br/>
			fournir à des tiers des informations statistiques sur nos utilisateurs (mais ces tiers ne seront pas en mesure d'identifier un utilisateur individuel à partir de ces informations) ;<br/>
			traiter les demandes de renseignements et les plaintes formulées par vous ou à votre sujet relativement à notre site Web ;<br/>
			la sécurité de notre site Web et la prévention de la fraude ;<br/>
			vérifier le respect des conditions d'utilisation de notre site Web (y compris la surveillance des messages privés envoyés par l'intermédiaire de notre service de messagerie privée) ; <br/>
			et d'autres utilisations.<br/>
			<br/>
			Si vous soumettez des informations personnelles pour publication sur notre site Web, nous publierons et utiliserons ces informations conformément à la licence que vous nous accordez.<br/>
			<br/>
			Vos paramètres de confidentialité peuvent être utilisés pour limiter la publication de vos informations sur notre site Web et peuvent être ajustés en utilisant les contrôles de confidentialité sur le site Web.<br/>
			<br/>
			Nous ne fournirons pas, sans votre consentement explicite, vos renseignements personnels à un tiers pour son marketing direct ou celui d'un autre tiers.<br/>
		</p>

		<h2 class="text-center">Divulgation de renseignements personnels</h2>

		<p>
			Nous pouvons divulguer vos renseignements personnels à nos employés, dirigeants, assureurs, conseillers professionnels, agents, fournisseurs ou sous-traitants, selon ce qui est raisonnablement nécessaire aux fins énoncées dans la présente politique.Nous pouvons divulguer vos renseignements personnels à nos employés, dirigeants, assureurs, conseillers professionnels, agents, fournisseurs ou sous-traitants, selon ce qui est raisonnablement nécessaire aux fins énoncées dans la présente politique.Nous pouvons divulguer vos renseignements personnels à nos employés, dirigeants, assureurs, conseillers professionnels, agents, fournisseurs ou sous-traitants, selon ce qui est raisonnablement nécessaire aux fins énoncées dans la présente politique. <br />
			<br/>
			Nous pouvons divulguer vos renseignements personnels :<br/>
			<br/>
			dans la mesure où la loi nous y oblige ;<br/>
			dans le cadre de toute procédure judiciaire en cours ou à venir ;<br/>
			afin d'établir, d'exercer ou de défendre nos droits légaux (y compris la communication d'informations à des tiers dans le but de prévenir la fraude et de réduire le risque de crédit) ;<br/>
			et à toute personne dont nous avons des motifs raisonnables de croire qu'elle peut demander à un tribunal ou à une autre autorité compétente la communication de ces renseignements personnels si, à notre avis raisonnable, ce tribunal ou cette autorité est raisonnablement susceptible d'ordonner la communication de ces renseignements personnels.<br/>
			À l'exception de ce qui est prévu dans la présente politique, nous ne communiquerons pas vos renseignements personnels à des tiers.
		</p>

		<h2 class="text-center">Transferts internationaux de données</h2>

		<p>
			Les informations que nous recueillons peuvent être stockées, traitées et transférées entre les pays dans lesquels nous opérons afin de nous permettre d'utiliser ces informations conformément à la présente politique.<br/>
			<br/>
			Les informations personnelles que vous publiez sur notre site Web ou soumettez pour publication sur notre site Web peuvent être disponibles, via Internet, dans le monde entier. Nous ne pouvons pas empêcher l'utilisation ou la mauvaise utilisation de ces informations par des tiers.<br/>
			Vous consentez expressément aux transferts de renseignements personnels décrits à la présente section F.<br/>
		</p>

		<h2 class="text-center">Conservation des renseignements personnels</h2>

		<p>
			La présente section G énonce nos politiques et procédures de conservation des données, qui sont conçues pour nous aider à nous assurer que nous nous conformons à nos obligations légales concernant la conservation et la suppression des renseignements personnels.<br/>
			Les renseignements personnels que nous traitons à quelque fin que ce soit ne doivent pas être conservés plus longtemps que nécessaire à cette fin ou à ces fins.<br/>
			<br/>
			Nonobstant les autres dispositions de la présente section G, nous conserverons les documents (y compris les documents électroniques) contenant des données personnelles :<br/>
			dans la mesure où la loi nous y oblige ;<br/>
			si nous croyons que les documents peuvent être pertinents à toute procédure judiciaire en cours ou à venir ;<br/> 
			et afin d'établir, d'exercer ou de défendre nos droits légaux (y compris la communication d'informations à des tiers dans le but de prévenir la fraude et de réduire le risque de crédit).
		</p>

		<h2 class="text-center">Sécurité de vos informations personnelles</h2>

		<p>
			Nous prendrons des précautions techniques et organisationnelles raisonnables pour prévenir la perte, le mauvais usage ou la modification de vos renseignements personnels.<br/>
			Nous stockerons tous les renseignements personnels que vous fournissez sur nos serveurs sécurisés (protégés par mot de passe et pare-feu).<br/>
			Toutes les transactions financières électroniques effectuées par l'intermédiaire de notre site Web seront protégées par une technologie de cryptage.<br/>
			Vous reconnaissez que la transmission d'informations sur Internet est intrinsèquement non sécurisée et que nous ne pouvons garantir la sécurité des données envoyées sur Internet.<br/>
			Vous êtes responsable de la confidentialité du mot de passe que vous utilisez pour accéder à notre site Web ; nous ne vous demanderons pas votre mot de passe (sauf lorsque vous vous connectez à notre site Web).
		</p>

		<h2 class="text-center">Modifications</h2>

		<p>
			Nous pouvons mettre à jour cette politique de temps à autre en publiant une nouvelle version sur notre site Web. Vous devriez consulter cette page de temps à autre pour vous assurer que vous comprenez bien les changements apportés à cette politique. Nous pouvons vous aviser des changements apportés à cette politique par courriel ou par messagerie privée sur notre site Web.
		</p>

		<h2 class="text-center">Vos droits</h2>

		<p>
			Vous pouvez nous demander de vous fournir tout renseignement personnel que nous détenons à votre sujet.<br/>
			Nous pouvons retenir les renseignements personnels que vous demandez dans la mesure permise par la loi.<br/>
			<br/>
			Vous pouvez nous demander à tout moment de ne pas traiter vos informations personnelles à des fins de marketing.<br/>
			<br/>
			Dans la pratique, soit vous acceptez expressément à l'avance que nous utilisions vos renseignements personnels à des fins de marketing, soit nous vous donnons la possibilité de refuser l'utilisation de vos renseignements personnels à des fins de marketing.
		</p>

		<h2 class="text-center">Sites web de tiers</h2>

		<p>
			Notre site Web comprend des hyperliens vers des sites Web de tiers et des détails à leur sujet. Nous n'avons aucun contrôle sur les politiques et les pratiques des tiers en matière de protection de la vie privée et nous n'en sommes pas responsables.
		</p>

		<h2 class="text-center">Mise à jour des informations</h2>

		<p>
			Veuillez nous faire savoir si les renseignements personnels que nous détenons à votre sujet doivent être corrigés ou mis à jour.
		</p>

		<h2 class="text-center">Cookies</h2>

		<p>
			Notre site Web utilise des cookies. Un cookie est un fichier contenant un identifiant (une chaîne de lettres et de chiffres) qui est envoyé par un serveur Web à un navigateur Web et qui est enregistré par ce dernier. L'identificateur est ensuite renvoyé au serveur chaque fois que le navigateur demande une page au serveur. Les cookies peuvent être soit des cookies "persistants", soit des cookies "de session" : un cookie persistant est stocké par un navigateur web et reste valide jusqu'à sa date d'expiration définie, sauf s'il est supprimé par l'utilisateur avant cette date ; un cookie de session, par contre, expire à la fin de la session utilisateur, lorsque le navigateur web est fermé. Les cookies ne contiennent généralement pas d'informations permettant d'identifier personnellement un utilisateur, mais les informations personnelles que nous stockons sur vous peuvent être liées aux informations stockées dans et obtenues à partir des cookies. Nous n'utilisons que des cookies de session / uniquement des cookies persistants / à la fois des cookies de session et des cookies persistants sur notre site Web.<br/>
			<br/>
			Les noms des témoins que nous utilisons sur notre site Web et les fins auxquelles ils sont utilisés sont indiqués ci-dessous :<br/>
			nous utilisons Google Analytics et Adwords sur notre site Web pour reconnaître un ordinateur lorsqu'un utilisateur : visite le site Web / suit les utilisateurs dans leur navigation sur le site / améliore la convivialité du site / analyse l'utilisation du site / gère le site / empêche la fraude / améliore la sécurité du site Web et la personnalisation du site pour chaque utilisateur / cible les annonces qui peuvent intéresser particulièrement certains utilisateurs.<br/>
			<br/>			
			La plupart des navigateurs vous permettent de refuser d'accepter les cookies, par exemple :<br/>
			dans Internet Explorer (version 10), vous pouvez bloquer les cookies à l'aide des paramètres de gestion des cookies disponibles en cliquant sur "Outils", "Options Internet", "Confidentialité", puis "Avancé" ;<br/>
			dans Firefox (version 24), vous pouvez bloquer tous les cookies en cliquant sur "Outils", "Options", "Confidentialité", en sélectionnant "Utiliser les paramètres personnalisés pour l'historique" dans le menu déroulant, et en décochant "Accepter les cookies des sites" ;<br/> 
			et dans Chrome (version 29), vous pouvez bloquer tous les cookies en accédant au menu "Personnaliser et contrôler", puis en cliquant sur "Paramètres", "Afficher les paramètres avancés" et "Paramètres de contenu", puis en sélectionnant "Bloquer les sites pour qu'aucune donnée" sous la rubrique "Cookies".<br/>
			<br/>
			Le blocage de tous les cookies aura un impact négatif sur la facilité d'utilisation de nombreux sites Web. Si vous bloquez les cookies, vous ne pourrez pas utiliser toutes les fonctions de notre site Web.<br/>
			<br/>
			Vous pouvez supprimer les cookies déjà enregistrés sur votre ordinateur, par exemple :<br/>
			dans Internet Explorer (version 10), vous devez supprimer manuellement les fichiers de cookies (vous trouverez les instructions à cet effet sur http://support.microsoft.com/kb/278835) ;<br/>
			dans Firefox (version 24), vous pouvez supprimer les cookies en cliquant sur "Outils", "Options" et "Confidentialité", puis en sélectionnant "Utiliser les paramètres personnalisés pour l'historique", "Afficher les cookies", puis "Supprimer tous les cookies" ;<br/>
			et dans Chrome (version 29), vous pouvez supprimer tous les cookies en accédant au menu "Personnaliser et contrôler", puis en cliquant sur "Paramètres", "Afficher les paramètres avancés" et "Effacer les données de navigation", puis en sélectionnant "Effacer les cookies et autres données du site et plug-in" avant de cliquer sur "Effacer les données de navigation".<br/>
			La suppression des cookies aura un impact négatif sur la convivialité de nombreux sites Web.
		</p>

	</div>

{% endblock %}