{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
	<div class="text-center">
		<img src="https://file1.telestar.fr/var/telestar/storage/images/article/agence-digitale-5-raison-de-faire-appel-a-des-experts-250371/1553261-1-fre-FR/Pourquoi-faire-appel-a-une-agence-digitale_width1024.jpg" class="img-fluid" alt="Responsive image">
		<h1>{{ title }}</h1>
	</div>
{% endblock %}