{% extends 'base.html.twig' %}

{% block title %}Nos créations digitales{% endblock %}

{% block body %}

	<meta name="description" content="Nos créations digitales"/>

	<section id="references-prensentation">
		<div class="jumbotron bg-success">
			<h1 class="display-3 text-center">Les projets réalisés par les membres de l'agence Digitalink</h1>
			<p class="lead text-center text-white">Cette page contient la liste des projets réalisés par notre équipe.</p>
			<hr class="my-4">
			<p class="text-center">Sur chaque carte, nous avons une photo avec le nom du projet et une description.</p>
		</div>
	</section>

	<section id="achievements">
		<div class="row">
			<div class="col ml-5">
				<div class="card bg-light mb-3" style="max-width: 20rem;">
					<div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img class="rounded mx-auto d-block w-75" src="img/realisation1.png" alt="Sait Barth Culture"/></font></font></div>
					<div class="card-body">
						<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="https://magali-multimedia.com/">Saint Barth Culture</a></font></font></h4>
						<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Création d’un site web type CMS wordpress pour promouvoir les activités culturelles de l’île de St Barthélémy</font></font></p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-light mb-3" style="max-width: 20rem;">
					<div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img class="rounded mx-auto d-block w-100" src="img/realisation2.jpg" alt="Blog et plateforme de recrutement"/></font></font></div>
					<div class="card-body">
						<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="http://projet6.xn--michal-chassaing-erb.fr/">SymBlogAdvert</a></font></font></h4>
						<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projet de blog et plateforme d'annonces réalisés avec le framework Symfony</font></font></p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-light mb-3" style="max-width: 20rem;">
					<div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img class="rounded mx-auto d-block w-75" src="img/ref2.png" alt="Maquettes pour Elektro pop festival"/></font></font></div>
					<div class="card-body">
						<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Elektro Pop Festival</font></font></h4>
						<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Créations et réflexions de maquettes pour un festival de musique électronique</font></font></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col ml-5">
				<div class="card bg-light mb-3" style="max-width: 20rem;">
					<div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img class="rounded mx-auto d-block w-50" src="img/ref4.png" alt="Plan de communication et site vitrine WordPress"/></font></font></div>
					<div class="card-body">
						<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="https://magalicouaillet.com">Site vitrine</font></font></a></h4>
						<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Elaboration d’un plan de communication sur 6 mois et création d’un site web type CMS wordpress</font></font></p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-light mb-3" style="max-width: 20rem;">
					<div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img class="rounded mx-auto d-block w-100" src="img/realisation3.jpg" alt="Mairie de Coudoulet"/></font></font></div>
					<div class="card-body">
						<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="http://projet1.xn--michal-chassaing-erb.fr/">Coudoulet</font></font></a></h4>
						<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Site réalisé pour la mairie de Coudoulet.</font></font></p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-light mb-3" style="max-width: 20rem;">
					<div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img class="rounded mx-auto d-block w-75" src="img/ref5.png" alt="Projet d'application mobile basketball"/></font></font></div>
					<div class="card-body">
						<h4 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mon Playground</font></font></h4>
						<p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projet de création d'une application mobile liée au basketball, utilisant la géolocalisation pour trouver des terrains proches.</font></font></p>
					</div>
				</div>
			</div>
		</div>
		
	</section>

{% endblock %}
