{% extends 'base.html.twig' %}

{% block title %}Hello ReferencesController!{% endblock %}

{% block body %}

    <h1>{{ title }} ✅</h1>

	<h2>
	<ul>
		<li>Prénom</li>
		<li>Nom</li>
		<li>Email</li>
	</ul>
	</h2>

	<h2>
	<ul>
		<li>Prénom</li>
		<li>Nom</li>
		<li>Email</li>
	</ul>
	</h2>

	<h2>
	<ul>
		<li>Prénom</li>
		<li>Nom</li>
		<li>Email</li>
	</ul>
	</h2>

	<h2>
	<ul>
		<li>Prénom</li>
		<li>Nom</li>
		<li>Email</li>
	</ul>
	</h2>

	<h2>
	<ul>
		<li>Prénom</li>
		<li>Nom</li>
		<li>Email</li>
	</ul>
	</h2>

{% endblock %}
