{% extends 'base.html.twig' %}

{% block title %}Hello ReferencesController!{% endblock %}

{% block body %}

    <h1>{{ title }} ✅</h1>
	<hr>
	<h2>Liste des articles</h1>
	<hr>

{% endblock %}
