{% extends 'base.html.twig' %}

{% block title %}Demande reçue{% endblock %}

{% block body %}
	
	<meta name="description" content="Nous avons bien reçu votre requête."/>

	<style>
		.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
		.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>

	<div class="jumbotron text-center">
		<h1>VOTRE DEMANDE DE DEVIS À BIEN ÉTÉ PRISE EN COMPTE.</h1>

		<p>Vous recevrez un e-mail de confirmation sous peu.<br/>
			Une fois que nous aurons analysé votre besoin, nous vous ferons parvenir un devis personnalisé dans les plus brefs délais.
		</p>
	</div>

{% endblock %}